<!--Menu.html-->
<!-- menu.html -->
<div class="navbar">
    <div class="site-logo">Black</div>
    <div class="menu-toggle">
      <div id="menu-toggle-btn">
        <span></span>
      </div>
    </div>
  </div>
  <div id="nav-container" class="nav-container">
    <div class="nav">
      <div class="col flex">
        <div class="nav-logo">b/</div>
        <div class="nav-socials">
          <a href="#">Vimeo</a>
          <a href="#">Instagram</a>
          <a href="#">Youtube</a>
          <a href="#">LinkedIn</a>
        </div>
      </div>
      <div class="col">
        <div class="nav-link menu-item">
          <a href="#">Work</a>
          <div class="nav-item-wrapper"></div>
        </div>
        <div class="nav-link menu-item">
          <a href="/src/pages/About.html">About</a>
          <div class="nav-item-wrapper"></div>
        </div>
        <div class="nav-link menu-item">
          <a href="#">Portfolio</a>
          <div class="nav-item-wrapper"></div>
        </div>
        <div class="nav-link menu-item">
          <a href="#">Blog</a>
          <div class="nav-item-wrapper"></div>
        </div>
        <div class="nav-link menu-item">
          <a href="#">Contact</a>
          <div class="nav-item-wrapper"></div>
        </div>
        <div class="nav-link menu-item">
          <a href="#">Register</a>
          <div class="nav-item-wrapper"></div>
        </div>
        <div class="cursor"></div>
      </div>
    </div>
    <div class="nav-footer">
      <div class="links">
        <a href="#">Privacy policy</a>
        <a href="#">Cookie policy</a>
        <a href="#">LGPD</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Work with us</a>
      </div>
      <div class="contact">
        <a href="#">contato@blacksheepfilmes.com</a>
      </div>
    </div>
  </div>  